.card-widget.card-botui
  .card-content(style='height:320px;')
    .item-headline
      i.fas.fa-comments
      span= _p('aside.card_botui')
    #hello-akilar.botui-app-container(style='width:100%;padding:0.5px')
      bot-ui
        .facemain
          figure
            div
              span.face 要来和我聊聊么？
              span.face
                a(href='javascript:void(0);' onclick='botui_init()') 欢迎光临糖果屋
